.bG.bG {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.root {
  position: relative;
  width: 100%;
  height: 100vh;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.logo {
  position: absolute;
  left: 50%;
  top: 140px;
  width: 188px;
  height: 111px;
  background-image:/* webpackIgnore: true */ url('/assets/logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(-50%);
}
.content {
  position: absolute;
  left: calc(50% - 0.5px);
  top: 50%;
  width: 481px;
  height: min-content;
  flex-direction: column;
  place-content: center;
  gap: 40px;
  padding: 80px 48px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px -2px rgba(16, 24, 40, 0.03), 0 12px 16px -4px rgba(16, 24, 40, 0.08) !important;
  transform: translate(-50%, -50%);
  margin-top: 30px;
}
.inner{
  flex-direction: column;
  padding: 0 !important;
}
.title {
  color: #1f2937;
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  font-family: 'Anek Latin', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  margin-bottom: 40px;
}
.email {
  width: 385px;
  margin-bottom: 16px;
  flex-direction: column;
  max-height: 55px;
}
.input {
  font-family: 'Anek Latin', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  width: 319px;
  height: 40px;
  padding: 8px 0 8px 16px;
  margin-bottom: 16px;
}
.button {
  width: 125px;
  height: 40px;
  padding: 0 !important;
  margin: 0 !important;
  left: 68%;
  background: #2E8DC8 !important;
}
.button_next {
  font-family: 'Anek Latin', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 30px;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  background: #2E8DC8;
  color: #ffffff;
  text-transform: capitalize;
  width: 125px;
  height: 40px;
}
.email_chip {
  margin-bottom: 48px;
  margin-top: -32px;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
}
.helper_alert svg {
  color: #B91C1C !important;
  font-size: 18px;
  margin-right: -6px;
  padding: 0;
}
