.bG.bG {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.root {
  position: relative;
  width: 100%;
  height: 100vh;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.logo {
  position: absolute;
  left: 50%;
  top: 140px;
  width: 188px;
  height: 111px;
  background-image:/* webpackIgnore: true */ url('/assets/logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(-50%);
}
.content {
  position: absolute;
  left: calc(50% - 0.5px);
  top: 50%;
  width: 481px;
  height: min-content;
  flex-direction: column;
  place-content: center;
  gap: 40px;
  padding: 80px 48px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px -2px rgba(16, 24, 40, 0.03), 0 12px 16px -4px rgba(16, 24, 40, 0.08) !important;
  transform: translate(-50%, -50%);
  margin-top: 30px;
}
.inner{
  flex-direction: column;
  padding: 0 !important;
}
.email {
  width: 385px;
  margin-bottom: 16px;
  flex-direction: column;
  max-height: 55px;
}
.email_chip {
  margin-bottom: 48px;
  margin-top: -32px;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
}
.helper_alert svg {
  color: #B91C1C !important;
  font-size: 18px;
  margin-right: -6px;
  padding: 0;
}
